/// BUTTONS

.button-pink {
  border: 1px solid #f39a82;
  box-sizing: border-box;
  border-radius: 4px;
  color: #f39a82;
  &:hover {
    background: rgba(243, 218, 208, 0.6);
    border: 1px solid #f39a82;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:active {
    background: #f3dad0;
    border: 1px solid #f39a82;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.button-black {
  color: white;
  border-color: #332f2e;
  background-color: #332f2e;

  &:hover {
    background: rgba(51, 47, 46, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:active {
    background: rgba(51, 47, 46, 0.55);
    border-radius: 4px;
  }
}

.button-lined {
  color: #332f2e;
  border-color: #332f2e;
  background-color: "transparent";

  &:hover {
    background: rgba(51, 47, 46, 0.1);
    border: 1px solid #332f2e;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:active {
    background: rgba(51, 47, 46, 0.15);
    border: 1px solid #332f2e;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(51, 47, 46, 0.2);
    border-radius: 4px;
  }
}

.button-container {
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > *:first-child {
      margin-bottom: 1rem;
    }
  }
}

.text-wrapper {
  & h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    /* or 233% */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #f39a82;
  }

  & h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    width: 70%;

    letter-spacing: 0.08em;

    color: #000000;

    position: relative;

    margin-bottom: 3rem;

    &::before {
      content: "";
      width: 10%;
      border-bottom: solid 3px #f3dad0;
      position: absolute;
      left: 0;
      bottom: -1.5rem;
      z-index: 1;
    }
  }

  & p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */

    color: #332f2e;
    margin-bottom: 40px !important;
  }
}

.bgimage {
  padding: 240px 0;
  background-size: contain;
  background-position: right;

  @media (max-width: 1200px) {
    padding: 10vw 0;
  }

  @media (max-width: 900px) {
    padding: 10px 0;
  }

  @media (max-width: 800px) {
    background-size: 0 0;
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 80%;
}

.text-wrapper {
  width: 80%;

  & > p {
    width: 50%;
  }

  & > h2 {
    margin-bottom: -10px;
  }
}

////////////

.cvsection {
  & h1 {
    margin-bottom: 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #000000;
  }

  & p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */

    color: #332f2e;

    margin-bottom: 3rem;
  }

  & Button {
    margin-right: 1.2rem;

    @media (max-width: 1200px) {
      margin-right: 0;
    }
  }
}

.cvsection {
  background-color: #f3dad0;
}

.cvcontainer {
  margin: 0 auto;
  padding: 2rem 0;
  width: 80%;
  align-items: center;
  display: flex;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.left-part {
  flex: 1.2;
  position: relative;
  &::after {
    content: "";
    height: 100%;
    border-right: solid 1px #332f2e;
    position: absolute;
    right: -5rem;
    bottom: 0;
    z-index: 1;

    @media (max-width: 1200px) {
      height: 1%;
      width: 100%;
      border-right: 0;
      border-bottom: solid 1px #332f2e;
      right: 0;
    }
  }

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      text-align: center;
    }

    & button:last-child {
      margin-bottom: 3rem;
    }
  }
  h1 {
    @media (max-width: 1200px) {
      text-align: center;
    }
  }
}

.right-part {
  flex: 1;
  padding-left: 10rem;

  @media (max-width: 1200px) {
    padding-left: 0;
    margin-top: 3rem;

    text-align: center;
  }

  & ul {
    margin-left: 0;
  }

  & h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.08em;

    color: #332f2e;

    @media (max-width: 1200px) {
      margin-bottom: 1rem;
    }
  }

  & li {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */

    color: #332f2e;
    list-style: none;

    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
      justify-content: center;
    }
  }
}

.circle-full {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: #332f2e;
  border: 1px solid #332f2e;

  margin-left: 16px;

  @media (max-width: 500px) {
    width: 18px;
    height: 18px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    margin-left: 9px;
  }
}

.circle-empty {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #332f2e;

  margin-left: 16px;

  @media (max-width: 500px) {
    width: 18px;
    height: 18px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    margin-left: 9px;
  }
}

.score-holder {
  display: flex;
}

.dot-holder {
  display: flex;
  flex-direction: column;
  margin-left: 1.3rem;
}

.dot-container {
  margin-bottom: 0.2rem;

  @media (max-width: 500px) {
    margin-bottom: 0.6rem;
  }
}

.cvcontent {
  width: 100%;
}

/// CONTACT

.contact-container {
  & h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */

    text-align: center;
    letter-spacing: 0.08em;

    color: #332f2e;
  }

  & h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #332f2e;
  }

  & h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: 0.08em;

    color: #332f2e;
    margin-bottom: 0;
  }

  & p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #332f2e;
  }

  width: 40%;
  text-align: center;
  margin: 80px auto;

  @media (max-width: 500px) {
    width: 70%;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}

.nice-park {
  width: 90%;
  margin: 0 auto;
}

// intro mobile

.intro {
  @media (max-width: 900px) {
    display: none;
  }
}

.intro-mobile {
  display: none;

  margin-top: 5rem;

  & > * {
    width: 90%;
  }

  @media (max-width: 900px) {
    display: block;

    .text-wrapper {
      width: 100%;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        width: 90%;
      }
    }

    h1 {
      &::before {
        content: "";
        width: 100%;
      }
    }
  }
}
